.gameContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
}

.card {
    background-color: #2b177d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    aspect-ratio: 1;

}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}