body {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
}

.gameContainer {
    display: grid;
    width: min(600px, 95vmin);
    margin: 0 auto;
    gap: 10px;
}

.card {
    background-color: #2b177d;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    aspect-ratio: 1;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;

}

h1 {
    text-align: center;
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gameControls {
    text-align: center;
    margin-bottom: 10px;
}

.gameControls label {
    font-size: 18px;
    margin-right: 10px;
}

.gameControls select {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #2b177d;
}

.gameControls button {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #177d36;
    color: white;
    cursor: pointer;
}

.instructions {
    max-width: 600px;
    margin: 0 auto 10px auto;
    background-color: #fff;
    border-radius: 8px;
    font-size: small;
}

.timer,
.moves {
    font-size: 18px;
    margin-left: 15px;
    font-weight: bold;
}

.globalStats {
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #b79b0f;
    border-radius: 5px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.globalMoves {
    font-size: 16px;
    color: #2b177d;
    font-weight: bold;
}