/* Body styling */
body {
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

/* Styling for single qr on page */
body:has(.qr-display) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;


}

/* QR code container styling*/
.qr-display {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px;
    margin: 16px;
    max-width: 320px;
    width: calc(100% - 32px);
    text-align: center;
}

.qr-image-container {
    margin-bottom: 16px;
}

.qr-title {
    font-size: 1.25rem;
}

.qr-description {
    font-size: 0.875rem;
    color: hsl(220, 15%, 55%);
}

/* Heading styling */
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: clamp(18px, 4vw, 22px);
    line-height: 1.3;
    margin: 16px 0;
}

/* Paragraph styling */
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: clamp(15px, 3vw, 16px);
    line-height: 1.6;
    margin: 16px 0;
}

/* QR code image styling */
img {
    width: 288px;
    height: 288px;
    border-radius: 16px;
}

/*individual qr card styling */
.qr-contents {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    flex: 0 0 auto;
    width: 320px;
    max-width: calc(100% - 32px);
}

/*QR grid styling */
.qr-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}